<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a href=""
         class="navbar-brand thick">
        <b>LogDown</b>
      </a>
    </p>

    <p class="navbar-header pull-right">
      <a routerLink="/login"
         class="navbar-brand thick">
        <b>Login</b>
      </a>
    </p>

    <p class="navbar-header pull-right">
      <a routerLink="/register"
         class="navbar-brand thick">
        <b>Register</b>
      </a>
    </p>

  </div>
</nav>

<div align="center">
  <h1>LogDown</h1>
  <h3>to a healthier life</h3>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid"></div>
</nav>
