<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a class="navbar-link"
         (click)="update()">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container container-fluid">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="username"
             type="text"
             class="form-control"
             name="username"
             placeholder="alice"
             id="username">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="mail"
             type="email"
             class="form-control"
             id="email"
             name="mail"
             placeholder="alice.wonderland@unicorn.com">
    </div>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input [(ngModel)]="firstName"
             type="text"
             class="form-control"
             name="firstName"
             id="first-name"
             placeholder="Alice">
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input [(ngModel)]="lastName"
             type="text"
             class="form-control"
             id="last-name"
             name="lastName"
             placeholder="Wonderland">
    </div>
  </form>

  <a class="btn btn-primary btn-block "
     (click)="update()">Update</a>

  <a class="btn btn-success btn-block"
     routerLink="/profile/{{user._id}}/foodlog">
    FoodLog List
  </a>

  <a class="btn btn-danger btn-block "
     (click)="logout()">Logout</a>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a >
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
