<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a href=""
         class="navbar-brand thick">
        <b>LogDown</b>
      </a>
    </p>

    <!--logout-->
    <p class="navbar-text pull-right">
      <a (click)="logOut()"
         class="navbar-link">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>
    </p>
    <!--Logged In User Name-->
    <p class="navbar-header pull-right">
      <a class="navbar-brand thick">
        <b>{{user.username}}</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <div align="center">
    <h3>Search Nutrionix API for Caloric Content of Food Item</h3>
    <input [(ngModel)]="fooditem"
           placeholder="pizza"
           class="form-control form-custom"/>

    <a (click)="searchFood(fooditem)"
            class="btn btn-primary btn-block btn-custom">
      Search
    </a>

    <div *ngIf="errorFlag2"
         class="alert alert-danger">
      <b>"Enter a food item to view details"</b>
    </div>

    <ul class="list-group">
      <div *ngIf="errorFlag"
           class="alert">
        <b>
          <h3>Additional Information</h3><br>
          <b>Brand Name: {{brand_name}}</b><br>
          <b>Product Name: {{add_name}}</b><br>
          <b>Sugar Content: {{sugar}}</b><br>
          <b>Dietary Fibers: {{fiber}}</b><br>
          <b>Protein Content: {{protein}}</b><br>
          <b>Sodium Content: {{sodium}}</b><br>
          <b>Fat Content: {{fat}}</b><br>
        </b>
      </div>
      <li class="list-group-item list-custom"
          *ngFor="let food of result">
        <h4>
          <a (click)="displayContent(food)">
            {{food.fields.item_name}}
          </a>

          <a (click)="fetchFood(food)">
          <span class="glyphicon
          glyphicon-plus-sign pull-right"></span>
          </a>
        </h4>
        Calories : {{food.fields.nf_calories}} <br>
        Serving Size: {{food.fields.nf_serving_size_qty}}
      </li>
    </ul>
  </div>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
