<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <a routerLink="/profile/{{userId}}/foodlog"
       class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a href=""
         class="navbar-brand thick">
        <b>Log Down</b>
      </a>
    </p>

    <!--logout-->
    <p class="navbar-text pull-right">
      <a (click)="logOut()"
         class="navbar-link">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>
    </p>
    <!--Logged In User Name-->
    <p class="navbar-header pull-right">
      <a class="navbar-brand thick">
        <b>{{user.username}}</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <div>
    <h2 align="center">{{foodlog.name}}</h2>

    <div align="">
      <h3>Breakfast
        <a routerLink="/profile/{{userId}}/foodlog/{{logId}}/item/breakfast">
                <span class="glyphicon
                glyphicon-plus-sign
                pull-right"></span>
        </a>
      </h3>

      <ul class="list-group">
        <li class="list-group-item list-custom"
            *ngFor="let food of breakfast">
          <p> <b>{{food.name}}</b>
            <span class="glyphicon glyphicon-fire">
            </span>
            Calories : {{food.calories}}</p>
          <a (click)="deleteItem(food._id)">
            <span class="glyphicon glyphicon-remove-sign pull-right">
            </span>
          </a>
          <br>
          <p>Serving Size: {{food.servingsize}} </p>
        </li>
      </ul>
    </div>


    <div align="">
      <h3>Lunch
        <a routerLink="/profile/{{userId}}/foodlog/{{logId}}/item/lunch">
                <span class="glyphicon
                glyphicon-plus-sign
                pull-right"></span>
        </a>
      </h3>

      <li class="list-group-item list-custom"
          *ngFor="let food of lunch">
        <p> <b>{{food.name}}</b>
          <span class="glyphicon glyphicon-fire">
            </span>
          Calories : {{food.calories}}</p>
        <a (click)="deleteItem(food._id)">
            <span class="glyphicon glyphicon-remove-sign pull-right">
            </span>
        </a>
        <br>
        <p>Serving Size: {{food.servingsize}} </p>
      </li>
    </div>

    <div align="">
      <h3>Dinner
        <a routerLink="/profile/{{userId}}/foodlog/{{logId}}/item/dinner">
                <span class="glyphicon
                glyphicon-plus-sign
                pull-right"></span>
        </a>
      </h3>

      <ul class="list-group">

        <li class="list-group-item list-custom"
            *ngFor="let food of dinner">
          <p> <b>{{food.name}}</b>
            <span class="glyphicon glyphicon-fire">
            </span>
            Calories : {{food.calories}}</p>
          <a (click)="deleteItem(food._id)">
            <span class="glyphicon glyphicon-remove-sign pull-right">
            </span>
          </a>
          <br>
          <p>Serving Size: {{food.servingsize}} </p>
        </li>
      </ul>
    </div>

    <div align="">
      <h3>Snacks
        <a routerLink="/profile/{{userId}}/foodlog/{{logId}}/item/snacks">
                <span class="glyphicon
                glyphicon-plus-sign
                pull-right"></span>
        </a>
      </h3>

      <ul class="list-group">

        <li class="list-group-item list-custom"
            *ngFor="let food of snacks">
          <p> <b>{{food.name}}</b>
            <span class="glyphicon glyphicon-fire">
            </span>
            Calories : {{food.calories}}</p>
          <a (click)="deleteItem(food._id)">
            <span class="glyphicon glyphicon-remove-sign pull-right">
            </span>
          </a>
          <br>
          <p>Serving Size: {{food.servingsize}} </p>
        </li>
      </ul>
    </div>

  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
